.user-form {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.user-form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user-form-actions {
  text-align: center;
}
