.Container {
  padding-left: 12px;
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.Avatar {
  flex-shrink: 0;
}

.Idents {
  padding-left: 8px;
}

.Email {
  font-size: 12px;
  color: #444;
}

.Title {
  height: 34px !important;
}
